.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root{
  --orange: #ff9844;
  --black: #2f2e41;
  --darkgrey: #9795a2;
  --lightgrey: #e6e6e6;
  --white:  #ffffff;
  background: var(--lightgrey); 
}

.app {
  background: var(--lightgrey);
}

.todo-list {
  background: var(--white);
  border-radius: 4px;
  padding: 5px;
  width: 94vw;
  max-width: 1200px;
  margin:auto;
}

.todo {
  background: var(--orange);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 6px 6px;
  font-size: 16px;
  margin-bottom: 6px;
  border-radius: px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-texts {
  padding: 3px 9px;
  font-family: sans-serif;
}
.form img {
  margin-left: 12px;
    background-color: var(--white);
    color: var(--white);
    text-align: right;
    align-items: right;
}
.form {
  display: flex;
  align-items: center;
  margin-top: 5;
  margin-bottom: 5px;
}
.buttons{
  display: flex;
  flex-direction: row;
}
.crossmark{
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 9px;
}

